nav#navHeader{
    background-color: var(--gris_appli);
    div{
        a{
            img{
                width: 100px!important;
                height: 100px!important;
            }
        }
    }
}